-e .
bump2version==1.0.1
wheel
tox
twine

# Tests
pytest
pytest-cov

# Docs

Sphinx>=4.0
#alabaster
sphinx_rtd_theme>=0.5.2
recommonmark>=0.7.1
m2r2
sphinx-autodoc-typehints
sphinx-paramlinks

# QA
pre-commit==2.13.0
