-e .
bumpversion
wheel
tox
twine

# Tests
pytest>=4,<5
pytest-pythonpath==0.7.3
pytest-flake8==1.0.4
pytest-cov==2.8.1
mock==3.0.5
mypy==0.770

# Docs

Sphinx
#alabaster
sphinx_rtd_theme
recommonmark
m2r
